<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>danh sach todo</title>
</head>

<body>
    <h1>trinh manh ha</h1>
    <form action="/new-todo" method="POST">
        <input type="text" name="title">
        <button type="submit">tao todo</button>
    </form>
</body>

</html>